*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:#0a0c10;
color:white;
overflow-x:hidden;

}


#loader{

position:fixed;
width:100%;
height:100%;
background:#0a0c10;
display:flex;
justify-content:center;
align-items:center;
z-index:9999;

}

.spinner{

width:60px;
height:60px;
border:6px solid #222;
border-top:6px solid #58a6ff;
border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}

}


.cursor{

width:20px;
height:20px;
border:2px solid #58a6ff;
border-radius:50%;

position:fixed;
pointer-events:none;

transform:translate(-50%,-50%);
transition:transform .1s ease;

z-index:999;

}


header{

position:fixed;
width:100%;
top:0;

background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);

}

.nav-container{

display:flex;
justify-content:space-between;
padding:20px 10%;

}

nav a{

margin-left:20px;
text-decoration:none;
color:white;

}


.hero{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

background:radial-gradient(circle,#1f2937,#020617);

}

.hero span{

color:#58a6ff;

}


.btn{

background:#58a6ff;
padding:12px 30px;
border-radius:8px;
text-decoration:none;
color:white;

display:inline-block;
margin-top:20px;

}


section{

padding:120px 10%;

}

.section-title{

font-size:32px;
margin-bottom:40px;

text-align:center;

}


.skills-grid,
.projects-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}


.skill-card,
.project-card{

background:#161b22;

padding:25px;

border-radius:12px;

transition:.3s;

}


.skill-card:hover,
.project-card:hover{

transform:translateY(-10px);

box-shadow:0 10px 30px rgba(0,0,0,0.5);

}


.skill-card i{

font-size:40px;
color:#58a6ff;
margin-bottom:10px;

}


.timeline{

border-left:2px solid #58a6ff;

padding-left:30px;

}


.timeline-item{

margin-bottom:40px;

position:relative;

}


.timeline-dot{

width:15px;
height:15px;

background:#58a6ff;

border-radius:50%;

position:absolute;
left:-8px;
top:5px;

}


.timeline-content{

background:#161b22;

padding:20px;

border-radius:10px;

}


footer{

text-align:center;
padding:40px;

border-top:1px solid #333;

}


.reveal{

opacity:0;
transform:translateY(40px);

transition:.8s;

}

.active{

opacity:1;
transform:translateY(0);

}
